* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  margin-left: 550px;
}

@media screen and (max-width: 1200px) {
  .box {
    margin-left: 230px;
  }
}

@media screen and (max-width: 900px) {
  .box {
    margin-left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .box {
    margin-left: -15px;
    width: 400px;
  }
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.circle__art {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-align: center;
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .center {
    opacity: 1;
  }
}

.circle:hover .art {
  opacity: 0.3;
}

.circle:hover .center {
  opacity: 1;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.popup .popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  background-color: white;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all .4s .2s;
  transition: all .4s .2s;
}

.popup__left {
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 16px;
  padding: 20px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media screen and (max-width: 900px) {
  .popup__text {
    font-size: 11.5px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .popup__text {
    font-size: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .popup__text {
    font-size: 12px;
    margin-left: 10px;
  }
}

.popup h1 {
  text-align: center;
}

.popup h3 {
  text-align: center;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__close:link, .popup__close:visited {
  color: black;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
}

.popup__close:link:hover, .popup__close:visited:hover {
  color: red;
}

.popup a {
  text-decoration: none;
  color: blue;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */